@import url('./reset.css');

:root {
  background: #fff;
  color: #000;
  font-family: sans-serif;
}

.editor-toolbar {
  margin-bottom: 1rem;
}

.editor-toolbar__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.editor-toolbar__buttons ul {
  display: flex;
  gap: 2px;
}

.editor-toolbar__button {
  border-radius: 3px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-toolbar__button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.editor-toolbar__button.active,
.editor-toolbar__button.active:hover {
  background: #000;
  color: #fff;
}

[data-tiptap-editor] .ProseMirror {
  border: 2px solid #000;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 60rem;
}

.my-editor strong {
  font-weight: bold;
}

.my-editor h1 {
  font-size: 32px;
  font-weight: bold;
}

.my-editor h2 {
  font-size: 28px;
  font-weight: bold;
}

.my-editor em {
  font-style: italic;
}

.my-editor img.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}

.editor-toolbar .bi {
  font-size: 20px;
}
